* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:14px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}


.ui-header .ui-btn{
    padding: 0 20px;
    background: none;
    border:none;
    box-shadow:none;
    -webkit-box-shadow:none;
}
.ui-header .ui-btn-inner{
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 20px;
    border:none;
}


.ui-content{
    padding:10px;
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.slim {
    margin: 2px 0 1px;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
#home-page a{
    font-size: 1.2em;
    margin-top:1em;
    padding-top:0.9em;
    padding-bottom:0.9em;
}


#about-page{
    font-size: 0.8em;
}


.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.big-text{
    font-size: 1.3em;
}
.small-text{
    font-size:0.8em;
}


.ui-icon-ms-phone {
    background: url("../img/phone-icon.png") 50% 50% no-repeat;
}
.ui-icon-ms-question {
    background: url("../img/question-icon.png") 50% 50% no-repeat;
}
.ui-icon-ms-search {
    background: url("../img/search-icon.png") 50% 50% no-repeat;
}


.change-box {
    /*border-bottom:1px solid #888;*/
    clear: left;
    min-height: 30px;
    overflow: auto;
    min-height: 128px;
}

#change-expected h4{
    background: #cfb; 
    padding:1em; 
    text-align:center;
}

.money {
    /*min-width:90px;*/
    height: 50px;
    color:#fff;
    margin: 6px;
    display: inline-block;
    float: left;
    cursor: pointer;
    text-align: center;
    font-size: 1.6em; 
}

.money .no-image{
    margin: 8px;
}

.money img{
    /*height: 50px;*/
    height:100%;
    margin: 0;
    border: 0;
    outline: 0;
    padding: 0;
}

.money.coin {
    min-width:50px;
    border-radius: 30px;
    background: #777;
}

@media only screen and (min-device-width : 768px) {

    div.app{
        font-size: 1.2em;
    }

    #home-page a{
        font-size: 1.9em;
    }

    .money {
        height: 80px;
    }

    .money.coin {
        font-size: 2.5em;
        line-height: 1.5em;
        min-width:80px;
        border-radius: 80px;
    }
}

#wallet-amount{
    background: #eee;
    margin: 0;
}

#wallet-amount .money{
    outline: 2px dotted #f36;
}

#all-money .money{
    outline: 2px dashed #3f6;
}

small {
    text-transform: none;
}

.clearfix {
  overflow: auto;
}